---
import BaseHead from "../components/BaseHead.astro";
import GWNav from "../components/GWNav.astro";
import NavFooter from "../components/NavFooter.astro";
---

<html lang="en">
	<BaseHead />
	<body class="bg-gray-900 text-white flex flex-col justify-center min-h-screen">
		<GWNav />
		<main>
		</main>
		<NavFooter />
 	</body>
</html>
