---

---
<footer id="footerNav" class="fixed bottom-0 left-0 w-full bg-white border-t border-gray-200 shadow-md z-50">
    <nav class="flex justify-around items-center h-16 relative text-sm">
        <!-- left nav -->
        <div class="flex-1 flex justify-center">
            <a href="#" class="text-gray-700 hover:text-blue-500 w-18 text-center">News</a>
        </div>
        <div class="flex-1 flex justify-center">
            <a href="#" class="text-gray-700 hover:text-blue-500 w-18 text-center">Stats</a>
        </div>

        <!-- Nav Focal point -->
         <div class="flex-1 flex justify-center relative -top-1">
            <a href="#" class="bg-blue-500 text-white w-20 h-20 flex items-center justify-center rounded-full shadow-lg hover:bg-blue-600">Predict</a>
        </div>

        <!-- right nav -->
         <div class="flex-1 flex justify-center">
            <a href="#" class="text-gray-700 hover:text-blue-500 w-18 text-center">Review</a>
        </div>
        <div class="flex-1 flex justify-center">
            <a href="#" class="text-gray-700 hover:text-blue-500 w-18 text-center">Leaderboards</a>
        </div>
    </nav>
</footer>
<style>
    
</style>