---
import BaseHead from "../components/BaseHead.astro";
import GWNav from "../components/GWNav.astro";
import NavFooter from "../components/NavFooter.astro";
---

<BaseHead />
<body>
    <header>
        <GWNav />
    </header>
    <main>
        <slot />
    </main>
    <footer>
        <NavFooter />
    </footer>
</body>
<style>
	body {
		background-color: var(--bluebrand);
	}
</style>